body
{
	font-family: "Raleway";
}
body
{
	background-color: #ffff;
	font-size: 14px;
	font-weight: 100;
}

a
{
	text-decoration: none;
}

.bloc_page
{
	margin: auto;
	border: 2px solid black;
	width: 100%;
	height: 1880px;
}

.greyiconcolor
{
	color: #F2F2F2;
}

.blueiconcolor
{
	color: #0065FC;
}

#logo
{
	display: flex;
	margin-top: 50px;
	width: 100px;
	height: 50px;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.header
{
	width: 100%;
	height: 120px;
}

#puces_1
{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 25%;
}

#hebergement-nav1:hover
{
	border-top: 2px solid #0065FC;
}

nav ul
{	margin:0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;
	margin-left: 55%;
	height: 100px;
}

#herbergement_nav1
{
	display: flex;
	flex-direction: row;
}
#lien1
{
	color: black;
}

#lien2
{
	color: black;
}

#lien1:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

#lien2:hover
{
	color: #0065FC;
}

#lien3
{
	color: #0065FC;
	font-weight: 600;
}

#activites_nav1
{
	display: flex;
	flex-direction: row;
}

#sign_in
{
	display: flex;
	flex-direction: row;
}

.titre_principal h1
{
	margin-left: 35px;
}

.titre_principal p
{
	margin-left: 35px;
}

.search_bar
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0px 30px 35px
}

.localisation
{
	font-size: 18px;
	padding: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #F2F2F2; 
}

#search
{
	width: 240px;
	height: 52px;
	border: 1px solid #F2F2F2;
	margin: 0;
	text-align: 18px;
}

#bouton_search
{
	text-decoration: none;
	background: transparent;
	border: none;
}

#submit
{
	background-color: #0065FC;
	color: #ffff;
	padding: 18px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border: none;
	position: relative;
	left: -12px;
}

#titre_filtres
{
	font-size: 15px;
	font-weight: 600;
	align-items: center;
}

.filtres
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 15px;
	align-items: center;
	width: 65%;
	height: 50px;
	margin-left: 35px;
}

.boutons_filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	height: 50px;
}

.eco
{	
	display: flex;
	flex-direction: row; 
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 195px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.eco:hover
{
	background-color: #6495ED;
}

.eco h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre1
{	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
	margin-left: -10px;
}

.famille
{	
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 150px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.famille:hover
{
	background-color: #6495ED;
}

.famille h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.romantique
{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 180px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.romantique:hover
{
	background-color: #6495ED;	
}

.romantique h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre3 
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.animal
{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 240px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.animal:hover
{
	background-color: #6495ED;
}

.animal h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre4
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.text_filtres:hover
{
	color:white;
}

.info
{
 	display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.info i
{   
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 1px;
	border-radius: 20px;
	border: 2px solid #f5f5f5;
}

#logement_text
{ 
	display: flex;
	align-items: center;
	margin-left: 5px;
}

#heber_et_pop
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 625px;
}

#block_01
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	width: 60%;
	height: 625px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#nav_herbergements
{
	display: flex;
	width: 90%;
	height: 40px;
	align-items: flex-end;
	font-weight: 900;
}

#liste_mars1
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#liste_mars2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.palette_block1
{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 244px;
	height: 200px;
	background-color: white;
	padding: 5px;
	border-radius: 20px;
 	margin: 15px;
 	box-shadow: 0px 0px 1px 0px grey;
}

.palette_block1:hover
{
	-webkit-transform:scale(1.10);
	-moz-transform:scale(1.10);
}

.img_heber
{
	object-fit: center;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 242px;
	height: 115px;
}

.description1 h2
{
	margin: 0;
	align-items: flex-start;
	font-size: 16px;
	font-weight: 700;
}

.description1
{	
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-end;
	height: 80px;
	margin-left: 10px;
	font-size: 12px;
}

.text_block1
{
	display: flex;
	font size: 12px;
}

.note_block1
{
	font-size: 12px;
}

.afficher
	
{
	display: flex;
	width: 90%;
	height: 40px;
	align-items: center;
	font-weight: 900;
}

#block_02
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 29%;
	height: 625px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#nav_populaires
{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-between;
	align-items: stretch;
	width: 80%;
}

.palette_block2
{
	width: 340px;
	height: 140px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: white;
	padding: 5px;
	border-radius: 15px;
	margin: 5px 5px, 5px, 5px;
	box-shadow: 0px 0px 1px 0px grey;
}

.palette_block2:hover
{
	-webkit-transform:scale(1.10);
	-moz-transform:scale(1.10);
}

.img_pop
{	
	object-fit: cover;
	background-position: center;
	width: 125px;
	height: 140px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;	
}

.description2
{
	margin-left: 10px;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 12px;
}

.description2 h2
{
	font-size: 16px;
	font-weight: 700 ;
}

.text-block2
{
	font-size: 14px;
}

.note_block2
{
	display: flex;
	height: 35px;
	align-items: flex-end;
}

#block_03
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
	height: 445px;
	margin-bottom: 50px;
}

#block_03 p
{
	margin-left: 10px;
	font-weight: 600;
}

#nav_activites
{
	margin-top: 60px;
	margin-left: 50px;
	font-weight: 600;
}

.mars_case10
{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 445px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case10:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_1
{
	object-fit: cover;
	background-position: center; 
	width: 300px;
	height: 390px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#liste_2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mars_case11
{
	justify-content: center;
	width: 300px;
	height: 235px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case11:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_2
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	height: 185px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case12
{
	width: 300px;
	height: 165px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case12:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_3
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	height: 110px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case13
{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 445px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case13:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_4
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	height: 390px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#liste_4
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mars_case14
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: 195px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case14:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_5
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	height: 140px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case15
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: 210px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case15:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_6
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	height: 155px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.pied_page
{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	height: 220px;
	background-color: #F2F2F2;
	font-size: 12px;
}

.titre_puces
{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
}

ul
{
	list-style-type: none;
}

.bas_puces1
{	
	display: flex;
	flex-direction: column;
	justify-content:space-between; 
	width: 25%;
	height: 120px;
}

.bas_puces2
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100px
}

.bas_puces3
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100px;
}



























