
/*** CSS Reservia et Media Queries ***/


body
{
	font-family: "Raleway", sans-serif;
}
body
{
	background-color: #ffff;
	font-size: 14px;
	font-weight: 100;
}

a
{
	text-decoration: none;
}

.bloc_page
{
	margin: auto;
	border: 2px solid black;
	width: 100%;
	height: 1880px;
	max-width: 1440px;
}

.greyiconcolor
{
	color: #F2F2F2;
}

.blueiconcolor
{
	color: #0065FC;
}

#logo
{
	display: flex;
	padding-top: 50px;
	align-items: center;
	margin-left: -5%;
	width: 100px;
	height: 50px;
}

.navigation
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 60%;	
	list-style-type: none;
}

.header
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 120px;
	align-items: center;
}

#puces_1
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
	margin-left: 55%;
}

nav ul
{		
	flex-wrap: wrap;
	align-items: center;
	height: 120px;
}

#hebergement_nav1
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 117px;
}

#hebergement_nav1:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

#lien1
{
	color: black;
}

#lien2
{
	color: black;
}

#lien3
{
	color: #0065FC;
	font-weight: 600;
}

#lien1:hover
{
	color: #0065FC;
	font-weight: 600;
}

#lien2:hover
{
	color: #0065FC;
	font-weight: 600;
}

#lien3:hover
{
	color: #6495ED;
	font-weight: 600;
}

#activites_nav1
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 117px;
}

#activites_nav1:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

#sign_in
{
	align-items: center;
	margin-left: -10%;
}

#recherche_reservia
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 315px;
	margin-left: 3%;
}

.search_bar
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.localisation
{
	font-size: 18px;
	padding: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #F2F2F2; 
}

#search
{
	width: 240px;
	height: 52px;
	border: 1px solid #F2F2F2;
	margin: 0;
	text-align: 18px;
}

#bouton_search
{
	text-decoration: none;
	background: transparent;
	border: none;
}

#submit
{
	background-color: #0065FC;
	color: #ffff;
	padding: 18px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border: none;
	position: relative;
	left: -24px;
}

#titre_filtres
{
	font-size: 15px;
	font-weight: 600;
	align-items: center;
	margin-right: 2%;
}

.filtres
{
	display: flex;
	flex-direction: row;
	font-size: 15px;
	align-items: center;
	width: 100%;
	height: 50px;
}

.boutons_filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	height: 50px;
}

.eco
{	
	display: flex;
	flex-direction: row; 
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 195px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.eco:hover
{
	background-color: #6495ED;
}

.eco h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre1
{	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
	margin-left: -10px;
}

.famille
{	
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 150px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.famille:hover
{
	background-color: #6495ED;
}

.famille h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.romantique
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 180px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.romantique:hover
{
	background-color: #6495ED;	
}

.romantique h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre3 
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.animal
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #f5f5f5;
	border-radius: 25px;
	background-color: #ffff;
	width: 240px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
}

.animal:hover
{
	background-color: #6495ED;
}

.animal h3
{
	margin-right: 20px;
	font-weight: 600;
}

.filtre4
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10px;
}

.text_filtres:hover
{
	color:white;
}

.info
{
 	display: flex;
    flex-direction: row;
    align-items: center;
}

.info i
{   
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 1px;
	border-radius: 20px;
	border: 2px solid #f5f5f5;
}

#logement_text
{ 
	display: flex;
	align-items: center;
	margin-left: 5px;
}

#heber_et_pop
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 625px;
}

#block_01
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	width: 60%;
	height: 625px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#nav_hebergements
{
	display: flex;
	height: 40px;
	align-items: flex-end;
	font-weight: 900;
	margin-left: 3%;
}

#liste_mars1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#liste_mars2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.palette_block1
{
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: white;
	padding: 5px;
	border-radius: 20px;
 	margin: 15px;
 	box-shadow: 0px 0px 1px 0px grey;
}

.palette_block1:hover
{
	-webkit-transform:scale(1.10);
	-moz-transform:scale(1.10);
}

.img_heber
{	
	object-fit: center;
	background-position: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 242px;
	max-width: 100%;
	height: 115px;
}

.description1 h2
{
	margin: 0;
	align-items: flex-start;
	font-size: 16px;
	font-weight: 700;
}

.description1
{	
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-end;
	height: 80px;
	margin-left: 10px;
	font-size: 12px;
}

.text_block1
{
	display: flex;
	font size: 12px;
}

.note_block1
{
	font-size: 12px;
}

.afficher	
{
	display: flex;
	width: 90%;
	height: 40px;
	font-weight: 900;
	margin-left: 3%;
}

#block_02
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 29%;
	height: 625px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#nav_populaires
{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-between;
	align-items: stretch;
	width: 80%;
}

.palette_block2
{
	width: 80%;
	height: 23%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: white;
	padding: 5px;
	border-radius: 15px;
	box-shadow: 0px 0px 1px 0px grey;
}

.palette_block2:hover
{
	-webkit-transform:scale(1.10);
	-moz-transform:scale(1.10);
}

.img_pop
{	
	object-fit: cover;
	background-position: center;
	width: 125px;
	height: 99%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;	
}

.description2
{
	margin-left: 10px;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 12px;
}

.description2 h2
{
	font-size: 16px;
	font-weight: 700 ;
}

.text-block2
{
	font-size: 14px;
}

.note_block2
{
	display: flex;
	height: 35px;
	align-items: flex-end;
}

#block_03
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	width: 94%;
	height: 445px;
	margin-bottom: 50px;
	margin-left: 3%;
	margin-right: 3%;
}

#block_03 p
{
	margin-left: 10px;
	font-weight: 600;
}

#nav_activites
{
	margin-top: 60px;
	margin-left: 50px;
	font-weight: 600;
}

.mars_case10
{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 445px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case10:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_1
{
	object-fit: cover;
	background-position: center; 
	width: 300px;
	max-width: 100%;
	height: 390px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#liste_2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mars_case11
{
	justify-content: center;
	width: 100%;
	height: 235px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case11:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_2
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	max-width: 100%;
	height: 185px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case12
{
	width: 100%;
	height: 165px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case12:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_3
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	max-width: 100%;
	height: 110px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case13
{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 445px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case13:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_4
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	max-width: 100%;
	height: 390px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#liste_4
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mars_case14
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 195px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case14:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_5
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	max-width: 100%;
	height: 140px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.mars_case15
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 210px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px grey;
}

.mars_case15:hover
{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
}

#mars_6
{
	object-fit: cover;
	background-position: center;
	width: 300px;
	max-width: 100%;
	height: 155px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.pied_page
{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	height: 220px;
	background-color: #F2F2F2;
	font-size: 14px;
}

.titre_puces
{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
}

ul
{
	list-style-type: none;
}

.bas_puces1
{	
	display: flex;
	flex-direction: column;
	justify-content:space-between; 
	width: 25%;
	height: 120px;
}

.bas_puces2
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100px
}

.bas_puces3
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100px;
}

.imp_bas
{
	padding-bottom: 7px;
}


/**** Média Queries ***/

/*** Règle Média Queries <1250px ***/
@media screen and (max-width: 1250px){

.bloc_page
{
	width: 1250px;
	height: 2411px;
	border: 2px solid red;
}

nav ul
{
	margin-left: 45%;
}

#heber_et_pop
{	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0% 5% 0% 5%;
	width: 100%;
	height: 1200px;
}

#block_01
{
	order:2;
	display: flex;
	align-content: space-around;
	width: 90%;
}

.text_block1
{
	font-size:13px;
}

#nav_hebergements
{
	margin-left:5%;
}

#block_02
{
	order:1;
	display: flex;
    justify-content: flex-end;
    width: 90%;
    height: auto;
    justify-content: space-around;
    padding-bottom: 15px;
}

.description2
{
	font size: 16px;
}

.text_block2
{
	font-size: 14px;
}

#nav_activites
{
	margin-top: 20px;
	margin-left: 5%;
}

#block_03
{
	display: flex;
	margin-left: 5%;
	width: 90%;
}

}/*** Fin de règles Média Queries résolutions <1250px ***/


/*** Règles Média Queries résolutions <768px ***/
@media screen and (max-width: 768px){

.bloc_page
{
	width: 768px;
	width: 100%;
	height: 5273px;
	border: 2px solid green;
}

.header
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 100%;
	height: 150px;
}

#logo
{
	flex: 0;
	order: 1;
	margin: 0;
	padding: 20px;
}

.navigation
{ 
	width: 100%;
}

#sign_in
{		
	order: 2;
	margin-right: 5%;
}

#puces_1
{
	display: flex;
	flex-direction: row;
 	order: 3;
 	width: 100%;
 	margin: 0;
 	padding: 0;
 	height: 60px;
	text-align: center;
	height: 50px;
	border-bottom: 4px solid #F2F2F2; 
}

#hebergement_nav1
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
}

#hebergement_nav1:hover
{
	color: #0065FC;
	border-bottom: 4px solid #0065FC;
	border-top: none;
}

#activites_nav1
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
}

#activites_nav1:hover
{
	color: #0065FC;
	border-bottom: 4px solid #0065FC;
	border-top: none;
}

#recherche_reservia
{
	height: 500px;
}

#search
{
	width: 95%;
	font-size:16px;
	font-weight: 600;
}

#submit
{
	text-decoration: none;
	background: transparent;
	border: none;
	font-size: 0px;
}

#bouton_search
{
	background-color: #0065FC;
	color: #ffff;
	padding: 18px;
	border-radius: 5px;
}

.filtres
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 190px;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: -30px;
}

.info
{
	padding-top: 5px;
}

#logement_text
{
	font-size: 16px;
}

#heber_et_pop
{	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 2100px;
	margin:0;
}

#block_01
{
	order:2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: auto;
	background-color: #ffff;
}

#liste_mars1
{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
}

#liste_mars2
{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
}

.palette_block1
{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	max-width: 100%;
	height: 200px;
}

.img_heber
{
	width: 100%;
	object-fit: cover;
}

.afficher
{
	margin-left: 11%;
}

#block_02
{
	order:1;
	display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-bottom: 15px;
    border-radius: 0px;
}

#nav_activites
{
	margin-left: 10%;
}

#block_03
{ 
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 2000px;
	margin: 0;
	align-content: space-around;
}

#block_03 p
{
	font-size: 16px;
	font-weight: 700;
}

.mars_case10
{
	display: flex;
	width: 80%;
	height: 300px;
}

#mars_1
{
	width: 100%;
	height: 235px;
}

#liste_2
{	
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 630px;
	align-content: space-around;
}

.mars_case11
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	height: 300px;
}

#mars_2
{
	display: flex;
	width: 100%;
	height: 235px;
}

.mars_case12
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 300px;
}

#mars_3
{
	width: 100%;
	height: 235px;
}

.mars_case13
{
	display: flex;
	width: 80%;
	height: 300px;
}

#mars_4
{
	width: 100%;
	height: 235px;
}

#liste_4
{	
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 640px;
	align-content: space-around;
}

.mars_case14
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 80%;
	height: 300px;
}

#mars_5
{
	width: 100%;
	height: 235px;
}

.mars_case15
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 300px;
}

#mars_6
{
	width: 100%;
	height: 235px;
}

.pied_page
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 420px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.bas_puces1
{
	width: 40%;
}

.bas_puces2
{
	width: 40%;
}

.bas_puces3
{
	width: 40%;
}

}/*** Fin de règles Média Queries résolutions <768px ***/


/*** Règles Média Queries résolutions <530px ***/
@media screen and (max-width: 530px){

.bloc_page
{
	width: 530px;
	width: 100%;
	height: 4673px;
	border: 2px solid blue;
}

#recherche_reservia
{
	height: 550px;
}

.filtres
{
	height: 250px;
}

.info
{
	margin-top: 40px;
	padding-bottom: 20px;
}

#logement_text
{
	font-size: 18px;
}

#nav_hebergements
{
	margin-left: -25%;
}

#nav_activites
{
	margin-left: 10%;

}

.note_block2
{
	align-items: flex-start;
}

#block_03
{
	height: 1350px;
}

#liste_2
{
	height: 420px;
}

#liste_4
{
	height: 420px;
}

.mars_case10
{
	height: 195px;
}

#mars_1
{
	height: 135px;
}

.mars_case11
{
	height: 195px;

}

#mars_2
{
	height: 135px;
}

.mars_case12
{
	height: 195px;

}

#mars_3
{
	height: 135px;
}

.mars_case13
{
	height: 195px;

}

#mars_4
{
	height: 135px;
}

.mars_case14
{
	height: 195px;
}

#mars_5
{
	height: 135px;
}

.mars_case15
{
	height: 195px;
}

#mars_6
{
	height: 135px;
}

}/*** Fin des règles Média Queries résolutions <530px ***/


/*** Règles Média Queries résolutions <420px ***/
@media screen and (max-width: 420px){

.bloc_page
{
	width: 420px;
	width: 100%;
	height: 4892px;
	border: 2px solid orange;
}

#heber_et_pop
{
	height: 2200px;
}

#recherche_reservia
{
	height: 620px;
}

.filtres
{
	height: 300px;
}

#titre_filtres
{
	padding-bottom: 15px;
}

.info
{
	padding-bottom: 0;
	margin-top: 50px;
}

#nav_hebergements
{
	margin-left: 0;

}

.pied_page
{
	height: 470px;
}

.bas_puces2
{
	margin-top:50px;
}

.bas_puces3
{
	margin-top:50px;
}

}/*** Fin des règles Média Queries résolutions <420px ***/










